logging:
  file: /var/log/galaxy/config.log
  level.*: INFO
  level.io.terminus: DEBUG

mybatis:
  mapperLocations: classpath*:mapper/*Mapper.xml
  typeAliasesPackage: cn.blmdz.wolf.config.model

datasource:
  driver-class-name: com.mysql.jdbc.Driver
  url: jdbc:mysql://127.0.0.1:3306/b2b2c?useUnicode=true&characterEncoding=UTF8&autoReconnect=true
  username: b2b2c
  password: anywhere
  minimum-idle: 2
  connection-timeout: 5000

zookeeper:
  host: 127.0.0.1
  port: 2181

dubbo:
  name: galaxy-config
  registry: zookeeper://127.0.0.1:2181
  host: b2b2c-dubbo-dev.dithub.com
  port: -1
  timeout: 10000
  threads: 100
  heartBeats: 10000
