logging:
  file: ${user.home}/logs/galaxy/settlement.log
  level.*: INFO
  level.io.terminus: DEBUG

mybatis:
  mapperLocations: classpath*:mapper/*Mapper.xml
  typeAliasesPackage: cn.blmdz.wolf.settlement.model,cn.blmdz.rabbit.settlement.model,cn.blmdz.wolf.settlement.dto

datasource:
  driver-class-name: com.mysql.jdbc.Driver
  url: jdbc:mysql://127.0.0.1:3306/b2b2c?useUnicode=true&characterEncoding=UTF8
  username: b2b2c
  password: anywhere

redis:
  host: 127.0.0.1
  port: 6379
  max-total: 10
  max-idle: 2
  test-on-borrow: true

zookeeper:
  host: 127.0.0.1
  port: 2181

dubbo:
  name: galaxy-settlement
  registry: zookeeper://127.0.0.1:2181
  port: -1
  timeout: 10000
  threads: 100
  heartBeats: 10000
