<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2016. 杭州端点网络科技有限公司.  All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="SpuAttribute">
    <resultMap id="SpuAttributeMap" type="SpuAttribute">
        <result column="spu_id" property="spuId"/>
        <result column="sku_attributes" property="skuAttrsJson"/>
        <result column="other_attributes" property="otherAttrsJson"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        parana_spu_attributes
    </sql>
    

    <sql id="cols">
        spu_id, sku_attributes, other_attributes, created_at, updated_at
    </sql>

    <sql id="vals">
        #{spuId}, #{skuAttrsJson},#{otherAttrsJson},  now(), now()
    </sql>

    <sql id="criterias">
        WHERE 1 = 1
        <if test="spuId != null"> AND spu_id = #{spuId} </if>
    </sql>

    <insert id="create" parameterType="SpuAttribute" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb" />
        (<include refid="cols" />)
        VALUES
        (<include refid="vals" />)
    </insert>


    <select id="findBySpuId" parameterType="long" resultMap="SpuAttributeMap" >
        SELECT <include refid="cols" />
        FROM <include refid="tb" />
        WHERE spu_id = #{spuId}
    </select>

    <select id="findById" parameterType="long" resultMap="SpuAttributeMap" >
        SELECT <include refid="cols" />
        FROM <include refid="tb" />
        WHERE spu_id = #{spuId}
    </select>

    <select id="list" parameterType="SpuAttribute" resultMap="SpuAttributeMap">
        SELECT 
        <include refid="cols"/>
        FROM
        <include refid="tb"/>
        <include refid="criterias"/>
    </select>

    <update id="update" parameterType="SpuAttribute">
        UPDATE <include refid="tb"/>
        <set>
            <if test="skuAttrsJson != null"> sku_attributes = #{skuAttrsJson}, </if>
            <if test="otherAttrsJson != null"> other_attributes = #{otherAttrsJson}, </if>
            updated_at=now()
        </set>
        WHERE spu_id=#{spuId}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb"/>
        WHERE spu_id = #{spuId}
    </delete>

</mapper>