logging:
  file: /var/log/galaxy/user.log
  level.*: INFO
  level.io.terminus: DEBUG

mybatis:
  mapper-locations: classpath*:mapper/*Mapper.xml
  type-aliases-package: io.terminus.parana.(user|file|article|user.address).model,io.terminus.galaxy.user.model

datasource:
  driver-class-name: com.mysql.jdbc.Driver
  url: jdbc:mysql://127.0.0.1:3306/b2b2c?useUnicode=true&characterEncoding=UTF8&autoReconnect=true
  username: b2b2c
  password: anywhere
  minimum-idle: 2
  connection-timeout: 5000

redis:
  host: 127.0.0.1
  port: 8888
  max-total: 10
  max-idle: 2
  test-on-borrow: true

zookeeper:
  host: 127.0.0.1
  port: 2181

dubbo:
  name: galaxy-user
  registry: zookeeper://127.0.0.1:2181
  host: b2b2c-dubbo-dev.dithub.com
  port: -1
  timeout: 10000
  threads: 100
  heartBeats: 10000
