logging:
  file: /var/log/galaxy/item.log
  level.*: INFO
  level.io.terminus: DEBUG

mybatis:
  mapperLocations: classpath*:mapper/*Mapper.xml
  typeAliasesPackage: io.terminus.parana.(item|shop|category|spu|brand|user).model

datasource:
  driver-class-name: com.mysql.jdbc.Driver
  url: jdbc:mysql://127.0.0.1:3306/b2b2c?useUnicode=true&characterEncoding=UTF8&autoReconnect=true
  username: b2b2c
  password: anywhere
  minimum-idle: 2
  connection-timeout: 5000

redis:
  host: 127.0.0.1
  port: 8888
  max-total: 10
  max-idle: 2
  test-on-borrow: true

zookeeper:
  host: 127.0.0.1
  port: 2181

dubbo:
  name: galaxy-item
  registry: zookeeper://127.0.0.1:2181
  host: b2b2c-dubbo-dev.dithub.com
  port: -1
  timeout: 10000
  threads: 100
  heartBeats: 10000

item:
  search:
    index-name: items
    index-type: item
    mapping-path: item_mapping.json
    full-dump-range: 3
    batch-size: 100

search:
  host: 127.0.0.1
  port: 9200
