<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2014 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="SettlementSumOfShopDaily">
    <resultMap id="SettlementSumOfShopDailyMap" type="SettlementSumOfShopDaily">
        <id column="id" property="id"/>
        <result column="seller_id" property="sellerId"/>
        <result column="seller_name" property="sellerName"/>
        <result column="shop_id" property="shopId"/>
        <result column="shop_name" property="shopName"/>
        <result column="order_count" property="orderCount"/>
        <result column="fee" property="fee"/>
        <result column="origin_fee" property="originFee"/>
        <result column="seller_discount" property="sellerDiscount"/>
        <result column="ship_fee" property="shipFee"/>
        <result column="receivable" property="receivable"/>
        <result column="platform_discount" property="platformDiscount"/>
        <result column="refund_fee" property="refundFee"/>
        <result column="commission" property="commission"/>
        <result column="integral" property="integral"/>
        <result column="third_party_fee" property="thirdPartyFee"/>
        <result column="sale_tax" property="saleTax"/>
        <result column="sum_at" property="sumAt"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        parana_settlements_sum_of_shop_dailys
    </sql>

    <sql id="cols_all">
      id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
        seller_id, seller_name, shop_id, shop_name,  order_count, fee,  origin_fee, seller_discount, ship_fee,
        receivable, platform_discount , refund_fee, commission, integral,
        third_party_fee ,sale_tax,sum_at,created_at, updated_at
    </sql>

    <sql id="vals">
        #{sellerId}, #{sellerName}, #{shopId}, #{shopName},#{orderCount}, #{fee},  #{originFee},#{sellerDiscount},#{shipFee},
        #{receivable}, #{platformDiscount}, #{refundFee}, #{commission},
        #{integral},#{thirdPartyFee},#{saleTax},#{sumAt}, now(), now()
    </sql>

    <sql id="criteria">
        WHERE 1 = 1
        <if test="sellerId != null"> AND seller_id = #{sellerId} </if>
        <if test="startAt != null"> AND <![CDATA[ sum_at >= #{startAt} ]]> </if>
        <if test="endAt != null"> AND <![CDATA[ sum_at < #{endAt}]]> </if>
    </sql>

    <select id="load" parameterType="long" resultMap="SettlementSumOfShopDailyMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <insert id="create" parameterType="SettlementSumOfShopDaily" keyProperty="id" useGeneratedKeys="true">
      INSERT INTO
      <include refid="tb" />
      (<include refid="cols_exclude_id" />)
      VALUES
      (<include refid="vals" />)
    </insert>

    <update id="update" parameterType="SettlementSumOfShopDaily">
        UPDATE <include refid="tb"/>
        <set>
            <if test="orderCount != null"> order_count = #{orderCount}, </if>
            <if test="fee != null"> fee = #{fee}, </if>
            <if test="saleTax != null"> sale_tax = #{saleTax}, </if>
            <if test="originFee != null"> origin_fee = #{originFee}, </if>
            <if test="sellerDiscount != null"> seller_discount = #{sellerDiscount}, </if>
            <if test="shipFee != null"> ship_fee = #{shipFee}, </if>
            <if test="receivable != null"> receivable = #{receivable}, </if>
            <if test="platformDiscount != null"> platform_discount = #{platformDiscount}, </if>
            <if test="refundFee != null"> refund_fee = #{refundFee}, </if>
            <if test="commission != null"> commission = #{commission}, </if>
            <if test="integral != null"> integral = #{integral}, </if>
            <if test="thirdPartyFee != null"> third_party_fee = #{thirdPartyFee}, </if>
            updated_at=now()
        </set>
        WHERE id=#{id}
    </update>

    <!-- 计数 -->
    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM <include refid="tb"/>
        <include refid="criteria"/>
    </select>

    <!-- 分页查询 -->
    <select id="paging" parameterType="map" resultMap="SettlementSumOfShopDailyMap">
        SELECT
        <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <include refid="criteria"/>
        ORDER BY id DESC LIMIT #{offset}, #{limit}
    </select>


    <select id="loads" parameterType="list" resultMap="SettlementSumOfShopDailyMap">
        SELECT id,
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id IN
        <foreach collection="list" separator="," open="("
                 close=")" item="id">
            #{id}
        </foreach>
    </select>


    <select id="findBySumAt" parameterType="map" resultMap="SettlementSumOfShopDailyMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE sum_at = #{sumAt} AND shop_id =#{shopId} limit 1
    </select>

    <select id="findById" parameterType="long" resultMap="SettlementSumOfShopDailyMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <delete id="deleteSumAt" parameterType="map">
        DELETE FROM <include refid="tb"/>
        WHERE sum_at = #{sumAt} AND shop_id =#{shopId}
    </delete>


</mapper>