<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2016. 杭州端点网络科技有限公司.  All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="OrderFinishInfo">
    <resultMap id="OrderFinishInfoMap" type="OrderFinishInfo">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="seller_id" property="sellerId"/>
        <result column="seller_name" property="sellerName"/>
        <result column="shop_id" property="shopId"/>
        <result column="shop_name" property="shopName"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="buyer_name" property="buyerName"/>
        <result column="order_type" property="orderType"/>
        <result column="type" property="type"/>
        <result column="pay_type" property="payType"/>
        <result column="order_status" property="orderStatus"/>
        <result column="system_no" property="systemNo"/>
        <result column="origin_fee" property="originFee"/>
        <result column="fee" property="fee"/>
        <result column="discount" property="discount"/>
        <result column="ship_fee" property="shipFee"/>
        <result column="ship_fee_discount" property="shipFeeDiscount"/>
        <result column="integral" property="integral"/>
        <result column="balance" property="balance"/>
        <result column="sale_tax" property="saleTax"/>
        <result column="ship_fee_sale_tax" property="shipFeeSaleTax"/>
        <result column="is_settlemented" property="isSettlemented"/>
        <result column="finished_at" property="finishedAt"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        parana_order_finish_infos
    </sql>

    <sql id="cols_all">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <sql id="cols_exclude_id">
        order_id, seller_id, seller_name, shop_id, shop_name, buyer_id, buyer_name, order_type,
        `type`, pay_type, order_status, system_no, origin_fee, fee, discount, ship_fee, ship_fee_discount, integral,
        balance, sale_tax, ship_fee_sale_tax, is_settlemented, finished_at, created_at, updated_at
    </sql>

    <sql id="vals">
        #{orderId}, #{sellerId}, #{sellerName}, #{shopId}, #{shopName}, #{buyerId}, #{buyerName}, #{orderType},
        #{type}, #{payType}, #{orderStatus}, #{systemNo}, #{originFee}, #{fee}, #{discount}, #{shipFee}, #{shipFeeDiscount},#{integral},
        #{balance}, #{saleTax}, #{shipFeeSaleTax},#{isSettlemented}, now(), now(), now()
    </sql>


    <sql id="queryCondition2">
        WHERE is_settlemented = false
    </sql>

    <insert id="create" parameterType="OrderFinishInfo" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb"/>
        (<include refid="cols_exclude_id"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <update id="update" parameterType="OrderFinishInfo">
        UPDATE
        <include refid="tb"/>
        <set>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="sellerId != null"> seller_id = #{sellerId},</if>
            <if test="sellerName != null"> seller_name = #{sellerName},</if>
            <if test="shopId != null"> shop_id = #{shopId},</if>
            <if test="shopName != null"> shop_name = #{shopName},</if>
            <if test="buyerId != null"> buyer_id = #{buyerId},</if>
            <if test="buyerName != null"> buyer_name = #{buyerName},</if>
            <if test="orderType != null"> order_type = #{orderType},</if>
            <if test="type != null"> type = #{type},</if>
            <if test="payType != null"> pay_type = #{payType},</if>
            <if test="orderStatus != null"> order_status = #{orderStatus},</if>
            <if test="systemNo != null"> system_no = #{systemNo},</if>
            <if test="originFee != null"> origin_fee = #{originFee},</if>
            <if test="fee != null"> fee = #{fee},</if>
            <if test="discount != null"> discount = #{discount},</if>
            <if test="shipFee != null"> ship_fee = #{shipFee},</if>
            <if test="shipFeeDiscount != null"> ship_fee_discount = #{shipFeeDiscount},</if>
            <if test="integral != null"> integral = #{integral},</if>
            <if test="balance != null"> balance = #{balance},</if>
            <if test="saleTax != null"> sale_tax = #{saleTax},</if>
            <if test="shipFeeSaleTax != null"> ship_fee_sale_tax = #{shipFeeSaleTax},</if>
            <if test="isSettlemented != null"> is_settlemented = #{isSettlemented},</if>
            updated_at = now()
        </set>
        WHERE id = #{id}
    </update>


    <select id="pagingNeedSettlement" parameterType="map" resultMap="OrderFinishInfoMap">
        select id, <include refid="cols_exclude_id"/>
        from <include refid="tb"/>
        <include refid="queryCondition2"/>
        order by id desc limit #{offset},#{limit}
    </select>

    <select id="countNeedSettlement" parameterType="map" resultType="long">
        select count(1)
        from <include refid="tb"/>
        <include refid="queryCondition2"/>
    </select>

    <select id="findById" parameterType="long" resultMap="OrderFinishInfoMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <update id="updateSettlemented" parameterType="long">
        UPDATE <include refid="tb"/>
        set is_settlemented= true,updated_at=now()
        WHERE id = #{id}
    </update>

</mapper>